<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>


<div class="jumbotron text-center">
  <h1>Welcome to Stock Predictor</h1>
  <p>The only website that accurately predicts tomorrow's stock prices!</p>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
          <a href="/inputticker" class="btn btn-dark btn-lg" role="button">Predictor</a>
          <h3>...</h3>
          <p>This is our simplest functionality.</p>
          <p>Simply input the stock ticker of your choice.</p>
          <p>And discover what price will this stock have tomorrow!</p>

      </div>
      <div class="col-md-4 text-center">
          <a href="/comparator" class="btn btn-dark btn-lg" role="button">Comparator</a>
          <h3>...</h3>
          <p>Click on the button above.</p>
          <p>It will help you make investment decisions.</p>
          <p>It will rank which of the 500 companies from the S&P500 should grow the most tomorrow.</p>

      </div>
      <div class="col-md-4 text-center">
          <a href="/portfoliator" class="btn btn-dark btn-lg" role="button">Portfoliator</a>
          <h3>...</h3>
          <p>Our latest functionality</p>
          <p>Become a user by creating an account.</p>
          <p>Input your stocks from your personal portfolio.</p>
          <p>This will tell you how it will doing. Try it out!</p>
  </div>



</div>


</body>
</html>
